// file: docstyle.scss
// Style modules for documentation
// This is part of the micro css implementation.

@use "css/base";
@use "css/page";
@use "css/doc";
@use "css/card";
@use "css/code";
@use "css/iot";

// simple content cards with image + text
.imgcard {
  position: relative;
  margin: base.$u-gutter base.$u-gutter base.$u-gutter 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--card-back);
  page-break-inside: avoid;

  >h3 {
    margin-top: 0;
  }

  padding: base.$u-gutter2 base.$u-gutter2 0 calc(9.6rem + base.$u-gutter2);
  min-height: 7.2rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 9.6rem;
    max-height: 7.2rem;
  }
}

