/* Colors */

$u-background: #eeeeee; // active objects

$u-primary: #304878; // active objects
$u-focus: #4466ee; // active object with focus
$u-disabled: #808080; // disabled objects
$u-text: #111111; // any text
$u-heading: #304878; // any headlines
$u-connect: #00cc00; // connectivity / net
$u-cardbackground: #d4dced; // connectivity / net
$u-navbar: #d4dced;

$u-btn-radius: 0.2em;

$u-on: green;
$u-off: red;

/* main */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 1em;
  color: $u-text;
}

body {
  background-color: $u-background;
}
* {
  box-sizing: border-box;
}

/* === Text containers === */

p,
pre,
h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em 0;

  > img {
    // assume image in text containers to be inline icons
    height: 1em;

    &:first-child {
      margin-right: 0.2em;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: $u-primary;
}

p > a {
  text-decoration: underline;
}

a:hover,
a:focus {
  color: $u-focus;
}

h1,
h2,
h3,
h4 {
  font-family: Arial;
  color: $u-heading;
}

// h1 Page title always inside u-header
// Chapter
h2 {
  font-size: 1.6rem;
}

// Topic
h3 {
  font-size: 1.25em;
  font-weight: bold;
}

// Subtitle
h4 {
  font-size: 0.8em;
  min-height: 0.8rem;
}

.hidden {
  display: none;
}

/* === Grid Design with grid of 6 === */

.container {
  margin-right: 2rem;
  margin-left: 2rem;

  @media (max-width: 720px) {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }
}

.container-fluid {
  margin-right: 0;
  margin-left: 0;
}

/* row with 0.5rem gutter */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: -0.5rem 0.1rem 0.5rem -0.5rem;
  clear: both;
  padding: 0px;

  &.wrap {
    flex-wrap: wrap;
  }

  &.nogutter {
    margin: 0;
  }
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  flex: 0 0 auto;
  margin: 0.5rem 0 0 0.5rem;
}

.row.nogutter > .col {
  margin: 0;
}

.col.stretch {
  flex-grow: 1;
}

.col-1 {
  flex-basis: 16.66666667%;
}

.col-2 {
  flex-basis: 33.33333333%;
}

.col-3 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 66.66666667%;
}

.col-5 {
  flex-basis: 83.33333334%;
}

.col-6 {
  flex-basis: 100%;
}

svg.button {
  width: 2em;
  height: 2em;

  .object {
    fill: $u-primary;
    fill-opacity: 1;
  }

  .connect {
    fill: $u-connect;
    fill-opacity: 1;
  }
}

/* === Header === */

// The header in the micro css is used to display the primary icon of the device, the name and links to important pages.
.u-header {
  display: flex;
  padding: 0.4rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  a,
  h1,
  img,
  span {
    font-size: 2rem;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    vertical-align: middle;
  }

  img + * {
    margin-left: 0.2rem;
  }

  > * + * {
    margin-left: 0.6rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    background-color: $u-cardbackground;
    border-radius: $u-btn-radius;
  }
}

.u-navbar {
  background-color: $u-navbar;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  min-height: 2.2rem;

  > button {
    min-width: 2em;
  }
}

/* === Cards === */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $u-cardbackground;
  border: 0.1rem solid $u-primary;
  border-radius: 0.3rem;
  width: 24em;
  min-width: 24em;

  img.active {
    background-color: limegreen;
  }

  > .block {
    flex: 1 1 auto;
    padding: 0.4em;
    min-height: 2.6em;

    &.header {
      background-image: linear-gradient(to bottom, $u-cardbackground, darken($u-cardbackground, 10%));
      border-top-right-radius: 0.4rem;
      border-top-left-radius: 0.4rem;
      min-height: 3.6rem;

      .icon {
        width: 3rem;
        height: 3rem;
        float: left;
        margin-right: 0.2rem;
      }

      > h2,
      > h4 {
        margin: 0;
      }
    }

    &.action {
      background-color: limegreen;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  > hr {
    background-color: rgba(0, 0, 0, 0.125);
    border: 0;
    height: 1px;
    padding: 0;
    margin: 0;
  }
}

a + a,
a + button,
a + label,
label + a,
label + button,
label + label,
button + a,
button + button,
button + label {
  margin-left: 0.8rem;
}

button,
label {
  display: inline-block;
  font-size: 1.25em;
  height: 1.4em;
  padding: 0 0.4em;
}

button {
  display: inline-block;
  font-size: 1.25em;
  min-width: 4em;
  height: 1.4em;
  padding: 0 0.4em;
  border-radius: $u-btn-radius;
  border: 0.1rem solid $u-primary;
  background-color: $u-primary;
  color: white;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
}

label {
  border: 0.1rem solid transparent;
}

button:focus {
  border: 0.1rem solid $u-focus;
  background-color: $u-focus;
}

button:disabled {
  border: 0.1rem solid $u-disabled;
  background-color: $u-disabled;
}

button.active {
  background-color: #acc1e4 !important;
  border-color: #203050 !important;
}

button.secondary {
  background-color: #777777;
  border-color: #777777;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  > * {
    flex: 1 1 auto;
    margin: 0;
    border-radius: 0;
  }
  > *:first-child {
    border-top-left-radius: $u-btn-radius;
    border-bottom-left-radius: $u-btn-radius;
  }
  > *:last-child {
    border-top-right-radius: $u-btn-radius;
    border-bottom-right-radius: $u-btn-radius;
  }
}

.form-group {
  margin-bottom: 0.2rem;

  > label {
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
    width: 8em;
  }

  > input,
  > select {
    width: 12em;
  }
}

label.fixed {
  display: inline-block;
  text-align: right;
  width: 8em;
}

.invalid {
  border: 2px solid #ff0000 !important;
  background-color: #ffcccc !important;
}

.valid {
  border: 2px solid #00cc00 !important;
  background-color: #ccffcc !important;
}

/* === element Icons === */

.element {
  position: relative;
  display: inline-block;
  height: 6rem;
  width: 6rem;
  margin: 0.6rem;

  &.wide {
    width: 10rem;
  }

  > img {
    position: relative;
    left: 1rem;
    top: 0.4rem;
    height: 4rem;
    width: 4rem;
  }

  > .id {
    position: absolute;
    display: inline-block;
    bottom: 0.4rem;
    left: 0;
    height: 1rem;
    width: 6rem;
    text-align: center;
  }

  > .info {
    position: absolute;
    display: inline-block;
    top: 0.4rem;
    right: 0;
    height: 5.2rem;
    width: 4rem;
  }
}

/* === Value indicators all kind of === */

.u-bool {
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
  background-color: silver;
}

.u-bool[value='1'] {
  background-image: linear-gradient(145deg, lighten($u-on, 30%), $u-on);
}

.u-bool[value='0'] {
  background-image: linear-gradient(145deg, lighten($u-off, 30%), $u-off);
}

.u-level {
  display: inline-block;
  border-color: $u-primary;
  border-style: solid;
  border-width: 1px;
  width: 32px;
  height: 64px;
}

// Timer-bar

.u-bar {
  position: relative;
  height: 1.4em;
  width: 100%;
  background-color: #aaaaaa;
}

.u-bar > .pulse,
.u-bar > .current {
  display: inline-block;
  position: absolute;
}

.u-bar > .pulse {
  top: 0;
  left: 0;
  height: 1.4em;
  background-color: green;
}

.u-bar > .current {
  top: 0.4em;
  height: 0.6em;
  background-color: red;
}

/* === SWITCH === */

.u-switch {
  display: inline-block;
  width: 100%;

  > label {
    display: inline-block;
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
    vertical-align: top;
    font-size: 1.4rem;
    cursor: pointer;
  }

  > .box {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 3rem;
    height: 1.6rem;
    border: 0.1rem solid #c0c0c0;
    border-radius: 1.3rem;
    background-color: #eeeeee;

    > .handle {
      position: absolute;
      display: inline-block;
      top: 0.1rem;
      left: 0.1rem;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 1.2rem;
      background-color: #203050;
      transition: left 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  &.active > .box > .handle {
    left: 1.5rem;
  }
}

/* === Responsive Utilities === */

.display-xs {
  display: none;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }

  .display-xs {
    display: initial;
  }
}
