// file: iotstyle.scss

// ===== Colors =====
// hue of 220 is signature of this style

$u-background: #f0f0f0;
$u-background-dark: #333333;
$u-primary: hsl(220, 80, 30); // active objects

$u-border-color: #555555;
$u-border-color-active: hsl(220, 100, 30);

$u-focus: #4466ee; // active object with focus
$u-disabled: gray; // disabled objects
$u-text: #111111; // any text
$u-text-dark: #eeeeee; // any text in dark mode
$u-heading: $u-primary; // any headlines
$u-connect: #00cc00; // connectivity / net

$u-card-background: hsl(220, 0, 85);

$u-card-background-active: hsl(220, 80, 55);
$u-card-color: $u-text;
$u-card-color-active: white;
$u-card-border: none;
$u-card-radius: 0.4rem;

$u-on: lighten(green, 10%);
$u-off: red;

$u-border: 1px solid $u-border-color;
$u-border-none: 1px solid transparent;
$u-border-active: 1px solid $u-border-color-active;

$u-navbar: $u-primary;
$u-navbar-text: white;

// ===== Sizes =====

$white-space: 1em;
$gutter: $white-space/2;
$gutter2: $white-space/4;

$u-btn-radius: 0.2em;
$u-input-border: $u-border;
$u-output-border: $u-border-none;

// ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-sans-serif: Arial, ui-sans-serif, sans-serif;

// ===== main =====

html,
body {
  margin: 0;
  padding: 0;
  color: $u-text;
  font-family: $font-sans-serif;
  font-size: 1em;
  background-color: $u-background;

  @media (prefers-color-scheme: dark) {
    background: $u-background-dark;
    color: $u-text-dark;
  }
}

* {
  box-sizing: border-box;
}

// ===== Text containers =====
p,
pre,
code,
h2,
h3,
h4 {
  margin: 0 0 $white-space 0;
  min-height: 1rem;

  > img,
  > svg {
    // assume image in text containers to be inline icons
    height: 1em;

    &:first-child {
      margin-right: 0.2em;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  // &:hover,
  //   &:focus {
  //     color: inherit;
  //   }

  //   &:visited {
  //   }
}

p > a,
p > a:visited {
  text-decoration: underline;
}

// h1 Page title is always inside u-header
h2,
h3,
h4 {
  font-family: $font-sans-serif;
  font-weight: bold;
  color: $u-heading;

  @media (prefers-color-scheme: dark) {
    color: $u-text-dark;
  }
}

// Chapter
h2 {
  font-size: 1.6em;
  min-height: 1.6em;
}

// Topic
h3 {
  font-size: 1.25em;
  min-height: 1.25em;
  margin-bottom: 8px;
}

// Subtitle
h4 {
  font-size: 1em;
  min-height: 1em;
}

code,
.code,
code.hljs,
pre code {
  background-color: rgb(255, 255, 185);
  color: $u-text;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  @media print {
    border: 1px solid $u-text;
  }
}

pre code {
  display: block;
  border-radius: $u-card-radius;
  padding: 2px;
}

// ===== Modal dialogs and focus Object

#modal {
  position: fixed;
  visibility: visible;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  #back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $u-background;
    opacity: 0.75;
  }

  #container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100px;
    min-height: 100px;
    transform: translateX(-50%) translateY(-50%);
    padding: 0.5em;
    background-color: white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: red;
      z-index: -1;
      width: 40px;
      height: 40px;
    }

    &::before {
      top: 0;
      right: 0;
    }

    &::after {
      bottom: 0;
      left: 0;
    }
  }

  .closedlg {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.6rem;
    background-color: red;
    text-align: center;
    z-index: 3 !important;
  }
}

.modal-object {
  position: fixed !important;
  z-index: 2 !important;
  margin: 0 !important;
  transition: all 0.3s ease-in-out !important;
}

// ===== Grid Design with grid of 6 =====

.container {
  margin-right: 2rem;
  margin-left: 2rem;

  @media (max-width: 720px) {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }
}

.container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding: $white-space;

  @media (max-width: 720px) {
    padding: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 0.1rem 0 -$gutter;
  clear: both;
  padding: 0 0 $gutter 0;

  &.wrap {
    flex-wrap: wrap;
  }

  @media (max-width: 720px) {
    margin: 0;
  }

  &.nogutter {
    margin: 0;
    padding: 0;

    > .col {
      margin: 0;
      padding: 0;
    }
  }
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  flex: 0 0 auto;
  margin: $gutter 0 0 $gutter;

  @media (max-width: 720px) {
    margin-left: 1px;
  }
}

.col.stretch {
  flex-grow: 1;
}

.col-1 {
  flex-basis: 16.66666667%;
}

.col-2 {
  flex-basis: 33.33333333%;
}

.col-3 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 66.66666667%;
}

.col-5 {
  flex-basis: 83.33333334%;
}

.col-6 {
  flex-basis: 100%;
}

svg {
  &.button {
    width: 2em;
    height: 2em;

    .object {
      fill: $u-primary;
      fill-opacity: 1;
    }

    .connect {
      fill: $u-connect;
      fill-opacity: 1;
    }
  }

  &.icon {
    -ms-user-select: none;
    user-select: none;
  }
}

// ===== Page Layout =====

// The header in the micro css is used to display the primary icon of the device and title.

.u-header {
  margin-bottom: 0;

  img {
    margin-right: $gutter;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    @media (prefers-color-scheme: dark) {
      filter: brightness(600%);
    }
  }

  h1 {
    margin: 0;
    font-size: 2.4rem;
    font-family: $font-sans-serif;
    font-weight: bold;
    // color: invert($color: $u-background);
  }
}

// u-navbar is a horizontal always visible menu just below the header.

.u-navbar {
  margin-bottom: 0;
  padding: $gutter $white-space;
  height: 2.8rem;
  background-color: $u-navbar;

  > .gap {
    flex-grow: 2;
  }

  > button,
  > .button {
    text-decoration: none;
    min-width: 2em;
    color: $u-navbar-text !important;

    &:hover {
      border-color: $u-focus;
      background-color: $u-focus;
    }
  }

  > img.button,
  > svg.button {
    padding: 0;
    min-width: 1.4em !important;
    width: 1.4em !important;
    height: 1.4em !important;
  }

  @media print {
    display: none;
  }
}

// <nav> is a vertical menu that can slide in and out by using some scripting.
// <nav> is used together with <main> for content
// `inpage` class: nav is beside main content, not overlap
// open class: nav is visible, maybe main needs to shift

nav {
  position: fixed;
  min-height: 100%;
  width: 280px;
  z-index: 1;
  left: -280px;
  transition: all 0.2s;
  padding: 1rem 0.2rem 0.2rem;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background: lighten($u-background-dark, 10%);
    color: $u-text-dark;
  }

  &.inpage {
    position: absolute;
  }

  &.open {
    left: 0;
  }

  &.inpage.open + main {
    margin-left: 280px;

    @media print {
      margin-left: 0;
    }
  }

  @media print {
    display: none;
  }
}

main {
  transition: margin-left 0.2s;
}

// ===== Cards =====

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $u-card-background;
  color: $u-card-color;
  border: $u-card-border;
  border-radius: $u-card-radius;
  width: 23rem;
  min-width: 23rem;

  @media print {
    border: 1px solid $u-text;
    // page-break-inside:  ???;
  }

  h3,
  h4 {
    color: $u-heading;
  }

  &.small {
    // reduced width and text size
    font-size: 0.8em;
    width: 11.25rem;
    min-width: 11.25rem;
  }

  &.active {
    // change colors only
    background-color: $u-card-background-active;
    color: $u-card-color-active;

    h3,
    h4 {
      color: $u-card-color-active;
    }

    svg.icon {
      filter: brightness(600%);
    }

    .border {
      border-color: $u-border-color-active;
    }

    .band::-webkit-slider-thumb {
      border-color: $u-border-color-active transparent;
    }

    > .block.header {
      background-image: linear-gradient(
        to bottom,
        $u-card-background-active,
        darken($u-card-background-active, 10%)
      );
    }
  }

  .icon {
    width: 2.75em;
    height: 2.75em;
    float: left;
    margin-right: $gutter;
    overflow: hidden;
  }

  img,
  svg {
    &.active {
      background-color: limegreen;
    }
  }

  > .block {
    position: relative;
    flex: 1 1 auto;
    padding: $gutter $white-space;
    min-height: 2em;

    &.header {
      background-image: linear-gradient(
        to bottom,
        $u-card-background,
        darken($u-card-background, 10%)
      );
      border-top-right-radius: $u-card-radius;
      border-top-left-radius: $u-card-radius;
      min-height: 2.75em; // with or without icon

      h3,
      h4 {
        margin-bottom: 0;
      }
    }

    &.footer {
      padding: $gutter $white-space;
      border-top: 1px solid rgba(0, 0, 0, 0.125);

      > *:not(:first-child) {
        margin-left: $gutter;
      }
    }
  }

  > hr {
    background-color: rgba(0, 0, 0, 0.125);
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
  }
}

// ===== forms elements and groups =====

select,
option {
  padding: 0;
}

option[disabled] {
  color: $u-disabled;
}

button,
.button {
  display: inline-block;
  font-size: 1.25em;
  min-width: 3.6em;
  height: 1.4em;
  padding: 0.1em 0.2em;
  border-radius: $u-btn-radius;
  border: 0.1em solid $u-primary;
  background-color: $u-primary;
  color: white;
  cursor: pointer;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    border-color: $u-focus;
    background-color: $u-focus;
  }

  &:visited {
    color: white;
  }

  &:disabled,
  &:disabled:focus {
    border: 0.1rem solid $u-disabled;
    background-color: $u-disabled;
  }

  &.active {
    background-color: #acc1e4 !important;
    border-color: #203050 !important;
  }

  &.secondary {
    background-color: #777777;
    border-color: #777777;
  }

  + button {
    margin-left: $gutter;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  > * {
    flex: 1 1 auto;
    margin: 0;
    border-radius: 0;
  }

  > *:first-child {
    border-top-left-radius: $u-btn-radius;
    border-bottom-left-radius: $u-btn-radius;
  }

  > *:last-child {
    border-top-right-radius: $u-btn-radius;
    border-bottom-right-radius: $u-btn-radius;
  }

  > label {
    display: inline-block;
    font-size: 1.25em;
    height: 1.4em;
    padding: 0 0.4em;
  }
}

.form-group {
  // margin-bottom: $gutter;
  display: flex;

  > label {
    display: inline-block;
    margin-right: $gutter;
    border: $u-output-border;
    text-align: right;
    width: 8em;
  }

  > input,
  > span,
  > select {
    display: inline-block;
    width: 12em;
    font-size: 1em;
  }

  > input,
  > select {
    border: $u-input-border;
  }

  > input {
    padding: 0 0.1em;
  }

  > span {
    border: $u-output-border;
  }
}

.form-group:not(:last-child) {
  margin-bottom: $gutter;
}

.invalid {
  border: 2px solid #ff1111 !important;
  background-color: #ffcccc !important;
}

.valid {
  border: 2px solid #00cc00 !important;
  background-color: #ccffcc !important;
}

// ===== element Icons =====

.element {
  position: relative;
  display: inline-block;
  height: 6rem;
  width: 6rem;
  margin: 0.6rem;

  &.wide {
    width: 10rem;
  }

  > svg,
  > img {
    position: relative;
    left: 1rem;
    top: 0.4rem;
    height: 4rem;
    width: 4rem;
  }

  > .id {
    position: absolute;
    display: inline-block;
    bottom: 0.4rem;
    left: 0;
    height: 1rem;
    width: 6rem;
    text-align: center;
  }

  > .info {
    position: absolute;
    display: inline-block;
    top: 0.4rem;
    right: 0;
    height: 5.2rem;
    width: 4rem;
  }
}

// ===== Value indicators for the web UI =====
// using ux- prefix.

.u-bool {
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
  background-color: silver;
}

.u-bool[value="1"] {
  background-image: linear-gradient(145deg, lighten($u-on, 30%), $u-on);
}

.u-bool[value="0"] {
  background-image: linear-gradient(145deg, lighten($u-off, 30%), $u-off);
}

// visualizing the output level 0...max
.ux-levelbar {
  display: inline-block;
  border-color: $u-primary;
  border-style: solid;
  border-width: 1px;
  width: 32px;
  height: 64px;
}

// show something on the right side of the card visualizing the actual value of the element

.ux-value {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

// Timer-bar

.u-bar {
  position: relative;
  height: 1.4em;
  width: 100%;
  background-color: #aaaaaa;
}

.u-bar > .pulse,
.u-bar > .current {
  display: inline-block;
  position: absolute;
}

.u-bar > .pulse {
  top: 0;
  left: 0;
  height: 1.4em;
  background-color: green;
}

.u-bar > .current {
  top: 0.4em;
  height: 0.6em;
  background-color: red;
}

/* === SWITCH === */

.u-slider {
  display: inline-block;
  width: 100%;

  > label {
    display: inline-block;
    padding: 0 0.2em;
    margin-bottom: 0.5rem;
    vertical-align: top;
    font-size: 1.4rem;
    cursor: pointer;

    > img,
    > .icon {
      width: 1.2em !important;
      height: 1.2em !important;
      margin:0;
    }
  }

  > .box {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 3rem;
    height: 1.7rem;
    border: 0.125rem solid $u-border-color;
    border-radius: 1.25rem;
    background-color: $u-background;
    padding: 0.125rem;

    > .handle {
      position: relative;
      display: inline-block;
      left: 0;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 1.2rem;
      background-color: #203050;
    }
  }

  &.u-switch > .box > .handle {
    transition: left 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  &.u-switch.active > .box > .handle {
    left: 1.3rem;
  }
}

.text-right {
  text-align: right;
}

.border {
  border: $u-border;
}

/* === Display Element === */
.display {
  position: relative;
  box-sizing: content-box;
  background-color: $u-background;
  margin: auto;
  width: 128px;
  height: 64px;
  border: 2px solid $u-border-color;
  zoom: 2;

  > span {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    overflow: hidden;
    background-color: transparent;

    &.text {
      color: $u-text;
      font-size: 10px;
      line-height: 10px;
    }

    &.dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;

      &.active {
        background-color: green;
      }
    }

    &.line {
      border-top: 1px solid black;
    }
  }
} // #display

.displayinc {
  position: relative;
  margin: auto;
  zoom: 2;

  > .icon {
    width: 1.2em ;
    height: 1.2em;
    margin:0;
  }
} 

/* === Light input sliders === */

.band {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 1.4rem;
  width: 100%;
  margin-bottom: 0.8rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-color: $u-border-color transparent;
    border-width: 1.2em 0.5em;
    border-style: solid;
    margin-top: -0.1rem;
  }

  &.hue {
    background: linear-gradient(
      to right,
      #ff0000 0%,
      #ffff00 17%,
      #00ff00 33%,
      #00ffff 50%,
      #0000ff 67%,
      #ff00ff 83%,
      #ff0000 100%
    );
  }

  &.white,
  &.lightness,
  &.saturation {
    background: linear-gradient(to right, black 0%, white 100%);
  }
}

/* === Responsive Utilities === */

.display-xs {
  display: none;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }

  .display-xs {
    display: initial;
  }
}
