[Unit]
Description=HomeDing Service
After=network.target

[Service]
WorkingDirectory=/home/pi/WebFiles
ExecStart=/usr/bin/node app.js
Restart=on-failure
User=pi
# Environment=PORT=8000

[Install]
WantedBy=multi-user.target
